<h1><%= @student.to_s %></h1>
<% if @student.active == false%>
<h2>This student is currently <%= link_to('inactive', edit_student_path) %>.</h2>
<% else %>
<h2> This student is currently <%= link_to('active', edit_student_path) %>.</h2>
<% end %>